*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
}

.progress-container {
  height: 100vh;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.progress-container > * {
  height: 100%;
  width: 100%;
}

.box-1 {
  background-color: rgba(255, 0, 0, 0.337);
}
.box-2 {
  background-color: rgba(113, 8, 8, 0.474);
}
.box-3 {
  background-color: rgba(98, 3, 3, 0.314);
}

.box-1::before,
.box-2::before,
.box-3::before {
  content: "";
  position: absolute;
  height: 100vh;
  background-color: yellowgreen;
  width: calc(100% / 3);
  transform: scaleX(0);
  transition: all 0.7s ease;
  transform-origin: left;
}

.pr::before {
  transform: scaleX(1);
}

/* @@ INPUT CONTAINER */
.input-container {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/*
.input-container__username {
    border: 2px solid;
    display: flex;
    flex-direction: column;
}

.input-container__password {
    display: none;
}
.input-container__email {
    display: none;
} */

/* test zone */
.input-container {
  /* border: 2px solid; */
}

/* !Global Class?? */
.input-container__username {
}
label {
  font-family: "Montserrat", sans-serif;
}
input {
  font-size: 1.2rem;
}

/* Parent */
.form-container {
  /* border: 5px solid; */
  position: relative;
  /* width: 40%; */
  /* height: 5rem; */
}

/* Children */
.input-container__username {
  /* position: absolute; */
}

.input-container__password {
  position: absolute;
  top: 0;
  /* display: none; */
}

.input-container__email {
  position: absolute;
  top: 0;
  /* display: none; */
}

.visible {
  visibility: hidden;
}

.username-label {
}
.password-label {
}
.email-label {
}

.input-username {
}
.input-password {
}
.input-email {
}

/* Placeholders */
input::placeholder {
  color: red;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;

}

.input-username {
  /* caret-shape: bar; */
  font-family: "Montserrat", sans-serif;
    caret-shape: block;
    /* caret-shape: underscore; */
    caret-color: red;
    caret-color: transparent;

}

.input-container__username {
  position: relative;
}

.input-caret {
  border: 1px solid black;
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  opacity: 0;
}

.input-username:focus ~ .input-caret {
  opacity: 1;
}










/* .container__cursor {
    animation: blink 1s infinite;
    background-color: rgb(15 23 42);
    position: absolute;
    width: 4px;
}

@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: rgb(15 23 42);
    }
} */




